@media (max-width: 960px) {
  .inner {
    max-width: 600px; /*150+150+280+(10*2)*/
    /* border: 1px solid red; */
  }
  .buttons {
    &__large--portfolio {
      margin-right: 0;
    }
    &__small--testimonals{
      margin-right: 9px;
    }
    &__large--hire{
      width: 280px;
      margin-right: 0;
    }
  }
}

@media (max-width: 550px) {
  main {
    color: red;
  }
}

@media (max-width: 640px) {
  .inner {
    max-width: 310px;  /*150+150+10*/
  }
  .buttons {
    &__small--about{
      margin-right: 0;
    }
    &__large{
      width: 310px;
    }
    &__small--testimonals {
      margin-right: 0;
    }
    &__blog {
      margin-right: 0;
      min-height: 150px;
      img {
        display: none;
      }
      .blog-content {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    &__small--contact {
      width: 310px;
      margin-bottom: 30px;
    }
  }
  .social .inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .social__copyright {
      float: none;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 350px) {
  .buttons>div {
    width: 100%;
    margin-right: 0;
  }
  .buttons {
    &__small--contact {
      margin-bottom: 25px;
    }
  }
}