header {
  padding: 95px 0;
  .page-title {
    text-transform:lowercase;
    font-size: 65px;
    line-height: 65px;
    font-weight: 100;
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__item {
    position: relative;
    display: flex;
    width: 150px;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 9px;
    transition: transform 0.4s, background 0.3s;
    cursor: pointer;
    &--wide {
      width: 310px;
    }
    &:active {
      transform: scale(0.87);
    }
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60px; /*default*/
      height: 60px; /*default*/
      background-image: url("../graph/sprites/spritesheet-menu-icons.png");
      background-repeat: no-repeat;
    }
    &--home {
      background-color: @btn-bg-home;
      &:hover {
        background-color: darken((@btn-bg-home),15%);
      }
      &:before {
        width: 52px;
        height: 54px;
        background-position: -277px -15px;
      }
    }
    &--about {
      background-color: @btn-bg-about;
      &:hover {
        background-color: darken((@btn-bg-about),15%);
      }
      &:before {
        width: 50px;
        height: 63px;
        background-position: -15px -15px;
      }
    }
    &--photo {
      background-color: @btn-bg-photos;
      &:hover {
        background-color: darken((@btn-bg-photos),15%);
      }
      &:before {
        width: 58px;
        height: 54px;
        background-position: -359px -15px;
      }
    }
    &--testimonals {
      background-color: @btn-bg-testimonals;
      &:hover {
        background-color: darken((@btn-bg-testimonals),15%);
      }
      &:before {
        width: 55px;
        height: 47px;
        background-position: -534px -15px;
      }
    }
    &--contact {
      background-color: @btn-bg-contact;
      &:hover {
        background-color: darken((@btn-bg-contact),15%);
      }
      &:before {
        width: 68px;
        height: 39px;
        background-position: -95px -15px;
      }
    }
    &--portfolio {
      width: 280px;
      background-color: @btn-bg-portfolio;
      &:hover {
        background-color: darken((@btn-bg-portfolio),15%);
      }
      &:before {
        width: 57px;
        height: 53px;
        background-position: -447px -15px;
      }
    }
    &--hire {
      background-color: @btn-bg-hire;
      &:hover {
        background-color: darken((@btn-bg-hire),15%);
      }
      &:before {
        width: 54px;
        height: 67px;
        background-position: -193px -15px;
      }
    }
    &--blog {
      width: 440px;
      background: @btn-bg-blog;
      &:before {
        display: none;
      }
    }
  }
  &__anchor {
    align-self: flex-end;
    font-size: 18px;
    line-height: 26px;
    color: white;
    text-decoration: none;
  }
}

.blog {
  display: flex;
  line-height: 30px;
  padding: 0;
  transition: transform 0.4s;
  &:hover {
    background-color: darken((@btn-bg-blog),10%);
    .blog__news-title:after {
      background-image: linear-gradient(to right, darken(rgba(21, 26, 38, 0),10%), darken(rgba(21, 26, 38, 1),10%) 70% );
    }
  }
  &__image {
    display: inline-block;
    margin-right: 15px;
    flex-shrink: 0;
  }
  &__wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  &__content {
    padding: 10px;
    transition: all 0.5s;
    h3 {
      font-size: 18px;
      font-weight: 100;
      color: #cccccc;
    }
    &--bottom {
      background: transparent;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(100%);
      transition-timing-function: ease-in;
    }
    &--top {
      transition-timing-function: ease-in;
      transition-duration: 0.4s;
      transform: translateY(0);
    }
  }
  &__news-title {
    position: relative;
    height: 60px;
    overflow: hidden;
    font-size: 22px;
    line-height: 30px;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 50%;
      height: 30px;
      background-image: linear-gradient(to right, rgba(21, 26, 38, 0), rgba(21, 26, 38, 1) 70% );
    }
  }
  
  &__news-date {
    font-size: 12px;
    color: #999999;
  }
}
.translate-to-top {
  transform: translateY(-100%);
}

.social {
  margin-bottom: 100px;
  &__btn {
    display: inline-block;
    width: 76px;
    height: 76px;
    margin-right: 5px;
    transition: all 0.4s;
    background-image: url("../graph/sprites/spritesheet-social-icons.png");
    background-repeat: no-repeat;
    &:hover {
      -webkit-filter: brightness(0.8);
    }
    &:active {
      transform: scale(0.85);
    }
  }
  &__btn--fb {
    background-position: -15px -15px;
  }
  &__btn--tw {
    background-position: -225px -15px;
  }
  &__btn--gplus {
    background-position: -120px -15px;
  }
  &__copyright {
    float: right;
    margin-top: 35px;
    color: #99a4c1;
    font-size: 14px;
    line-height: 26px;
  }
}